django-countries==4.10.0
django_phonenumbers==8.13.33
django-phonenumber-field
django-pandas==0.14.1
pandas==1.16.0
plotly==5.20.0
scikit-learn==3.4.0
channels==4.0.0
daphne==4.1.0
matplotlib==1.16.0
seaborn==1.16.0
numpy==1.26.4
scipy==1.12.0
joblib==1.3.2
reportlab==5.2.0
argparse==1.4.0
cicflowmeter==1.12.0