{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="{% static 'css/base1.css' %} "> 
    {% block headers %}
     
    {% endblock headers %}



</head>
<body>
    
    <div class="container">
        <div >
            <nav>
                <div class="navBar">
                    <ul><li><a href="/">Home</a></li></ul>
                    <ul><li><a href="/dashboard/">Performance</a></li></ul>
                    <ul><li><a href="/alarm/">Attack Alarm</a></li></ul>
                    <ul><li><a href="">Historical Data</a></li></ul>
                    <ul><li><a href="">Errors</a></li></ul>
                    <ul><li><a href="/user/">User Authentication & AccessControl</a></li></ul>
                    <ul><li><a href="https://github.com/KaparoCorp/OrbitalArmor">Help</a></li></ul>
                    <ul><li><a href="https://github.com/KaparoCorp/OrbitalArmor">Documentation</a></li></ul>
                </div>
            </nav>
        </div>

        <main>
                <div>
                    {% block body %}{% endblock body %}
                </div>
        </main>
    </div>
    <script src="{% static 'js/base.js' %}"></script>


</body>
</html>