{% load static %}

{% comment %} This is the base html for dashboard pages {% endcomment %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="{% static 'css/base1.css' %} "> 
    {% block headers %}
     
    {% endblock headers %}
</head>
<body>
    
    <div class="container">
        <div >
            <nav>
                <div class="navBar">
                    <ul><li><img class='logo' src={%static "css/images/globe.png"%} width="80px" height="80px"></li></ul>
                    <ul><li><a href="/" class="home">Orbital Armor</a></li></ul>
                </div>
            </nav>
        </div>

        {% comment %}  content of the page contains dashboard and container for main content {% endcomment %}
        <div class="content">
            <div class="dashboard">
                <ul>
                    <li>
                        <a href="/dashboard/">Dashboard</a></li></ul>
                            <ul><li><a href="/alarm/">Attack</a></li></ul>
                            <ul><li><a href="">Machine Data</a></li></ul>
                            <ul><li><a href="">Logs</a></li></ul>
                            <ul><li><a href="/user/">User Authentication</a></li></ul>
                            <ul><li><a href="https://github.com/KaparoCorp/OrbitalArmor">Help & Documentation</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="mainContent">
        <main>
            {% block body %}{% endblock body %}
        </main>      
    </div>
        
    <script src="{% static 'js/base.js' %}"></script>


</body>
</html>