{% extends "base1.html" %}
{% load static %}
{% block headers %}
<link rel="stylesheet" href="{% static 'css/dashboard.css' %} "> 
{% endblock headers %}

<div class="content"></div>
{% block body %}
    <div class="content">
        <p class="title">performance</p>
        <div>
            <h1>performance ratio</h1>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sed, enim! Temporibus deleniti est perferendis, aspernatur hic ipsa odio autem impedit eaque neque dolor mollitia quidem veritatis ipsam. Molestias, nostrum. Quos!
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptas facilis unde magni nam repellat quis, repellendus optio eligendi laboriosam natus harum est iure culpa vitae tempore soluta corrupti deleniti et?
                Explicabo numquam alias laudantium tempora magnam facere illo asperiores amet, nam dolores atque, quod a. Esse nulla consequuntur sed voluptatibus. Impedit alias nulla quam! Consequuntur odit rem consequatur ratione ipsam.
                Veritatis est iusto voluptas nemo distinctio quia culpa, dolorem ipsam! Libero necessitatibus quasi, repellat voluptatem, voluptatibus harum doloribus officia tempora nemo amet aperiam ea velit nostrum praesentium delectus temporibus. Fugit.
                Doloremque, consequatur fuga officiis, repellat quam quaerat repudiandae ab exercitationem ipsa dolorem quos quod quisquam aspernatur aliquam nemo beatae rem nihil doloribus molestiae eum porro dicta odio fugiat debitis. Eius.
                Minus impedit eligendi, rerum harum ea recusandae nisi quam rem deserunt fugiat esse architecto temporibus saepe et nesciunt ullam laudantium quas voluptatibus? Nisi voluptatum iusto animi unde quod deserunt! Dolores!
                Saepe magni ad, iusto, optio veritatis voluptatem exercitationem vitae quidem modi facilis voluptates porro debitis recusandae veniam qui rem. Nam velit accusantium at est necessitatibus laudantium tempore ipsam odio iusto.
                Quia ab voluptates consequuntur aliquam nostrum est quis quibusdam sint consequatur fuga asperiores labore nemo repudiandae optio, pariatur laborum modi obcaecati esse odio. Ducimus quam error sint. Ipsa, aliquid inventore.
                Vitae ratione tenetur non sapiente at! Doloremque dolores nam eveniet, architecto unde reprehenderit consectetur beatae blanditiis excepturi tenetur mollitia ea dolorum velit sit, quibusdam facere voluptatem. Ipsam culpa explicabo accusamus.
                Sint corporis doloremque veniam molestiae magni repellat expedita libero, earum quasi reprehenderit perferendis tempora natus esse, ea repudiandae adipisci illum recusandae quae eos porro explicabo, vero labore pariatur rem! Autem.
                Alias animi at id libero doloribus, quos dolore officiis eius obcaecati distinctio atque fugiat quae, rem officia illum? Repellendus quasi labore necessitatibus iste quam quisquam optio doloremque laboriosam quas excepturi?
                Vero quidem voluptate magni nemo eligendi minus, aliquid rerum ex praesentium, accusamus nulla in? Earum deleniti nostrum amet, obcaecati labore blanditiis enim? Voluptas ad sapiente earum perspiciatis fuga amet eligendi?
                Ratione necessitatibus libero corporis neque aliquam ut sunt at? Illum cum nemo rem molestiae, doloremque nobis laborum necessitatibus nulla quisquam omnis qui a, consectetur, dolorem ipsum vitae explicabo aliquam delectus!
                Eligendi consequatur repellendus voluptatibus libero nam reiciendis corporis sapiente cum, assumenda aperiam distinctio consequuntur, magnam dolorem alias numquam expedita eaque, ipsa quod accusantium quas quam ex. Odio vel sunt ut.
                Nobis est enim minus suscipit cumque doloremque deleniti perspiciatis voluptates praesentium! Blanditiis aliquam, officia excepturi quisquam sunt repellat velit, sed, nesciunt reprehenderit rerum nulla dignissimos perspiciatis. Vel saepe amet autem.
                Corporis error quasi ea. Aspernatur molestias cum quidem sunt ab doloremque. Aliquam obcaecati aperiam et odio est veritatis. Excepturi vitae accusantium libero repellendus rerum nobis ea reiciendis optio hic quasi.
                Voluptatem, libero excepturi dolore voluptas possimus maiores nihil eligendi rerum itaque! Dignissimos vero soluta ea illo, ullam non modi obcaecati consequuntur distinctio quasi saepe omnis reiciendis cupiditate odit quidem facere.
                Non possimus deleniti tenetur! Necessitatibus, numquam beatae exercitationem facere provident fuga hic quos quo omnis voluptatem aspernatur distinctio ducimus ipsam quidem cum! Quam in corrupti sed eveniet vel rerum est!
                Illo aperiam expedita adipisci vitae, at quibusdam, corporis porro rem maiores impedit laborum officiis maxime dolor doloremque. Cupiditate, delectus earum. Debitis, placeat sit! Consectetur, numquam veritatis. Eligendi fugiat aut repudiandae.
                Dignissimos asperiores natus ut possimus quisquam temporibus saepe dolorem ex quo error voluptatum similique accusamus perspiciatis et tempora, aliquid vero, laboriosam harum veritatis nobis impedit? Esse ex possimus mollitia corporis?
                Ut consequatur fugiat est nemo. Ex vel earum ipsam sint vitae illo velit error optio placeat culpa rerum, quam, inventore nulla. Aut dolorem minima corporis. Inventore iusto dolores cum! Veritatis?
                Doloremque impedit beatae illo temporibus repellat accusamus aut maxime, similique esse assumenda officiis fugit perspiciatis praesentium explicabo at labore officia rerum architecto! Officia est consequuntur error, numquam maxime delectus cum.
                Commodi quibusdam quam excepturi reprehenderit tempore fugiat officiis nemo distinctio! Fuga eaque corporis consectetur, praesentium reiciendis blanditiis saepe quam odio enim nulla a placeat, nam eveniet deserunt nemo fugit doloremque.
                Atque, quis? Cumque molestiae eum, suscipit ut amet fuga qui voluptate aut voluptas pariatur perferendis, mollitia dolorem nisi atque sequi temporibus ab deserunt expedita placeat enim? Incidunt soluta voluptatum deleniti.
            </p>
        </div>
        <canvas id="myChart"></canvas>
    </div>
    <div>
        {{ fig|safe }}
    </div>

{% endblock body %}

