    *{
    padding: 0px;
    margin: 0px;
}

body{
    background-image: url("images/bg.gif");
    background-repeat: no-repeat;
    padding:none;
    height: 100vh;
    width: 100vw;
    background-size: 100% ;
    background-size: cover;
}

.container .nav{
    display: flex;
    background-color: gray;
}

.container .nav .center{
    position: relative;
    left: calc(50%-50px);
}

.nav .center .name{
    padding-top: 2rem;
}

.container .nav .left{
    position: relative;
    left: 45%;
}

.navBar{
    display: flex; 
} 

.navBar ul {
    padding: none;
    margin: none;
}

.navBar ul li{
    list-style-type: none;
    
}

.navBar ul li a{
    list-style:none;
    text-decoration: none;
    color: black;
    padding: .5rem 1rem;
    background-color: whitesmoke;
    text-transform: uppercase;
    border: 2px solid red;
}

.navBar ul li a:hover{
    background-color: red;
    color: whitesmoke;
    border: 2px dashed whitesmoke;
}

.navBar .mid{
    padding-top: 2rem;
}

.navBar ul li .logo{
    list-style: none;
    text-decoration: none;
    color: none;
    padding: none;
    background-color: gray ;
    text-transform: uppercase;
    border:none;
}

.navBar ul li .logo:hover{
    background-color: gray;
    border: none;
}