{% extends "base.html" %}
{% load static %}

{% block link %}
    <link rel="stylesheet" href="{% static 'css/about.css'%}">
{% endblock link %}

{% block content %}
    <div class="info">
        <div class="paragraph">
            <h1>About Us</h1>
            <p>
                Welcome to Orbital Armor, the pioneering DDoS Attack Detection System engineered to safeguard your server against the 
                relentless onslaught of cyber threat of DDOS. Embarking on my fourth-year project journey, I am committed to
                delivering unparalleled defense for your online infrastructure. With a keen understanding of the dynamic cyber landscape, Orbital
                Armor leverages advanced machine learning algorithms and real-time network analysis to swiftly detect and identify DDoS attacks,
                ensuring uninterrupted online operations for your business.
            </p>
            <span></span>
            <p>
                Orbital Armor is more than just a security solution; it's a testament to my unwavering commitment to fortifying the digital realm.
                Grounded in extensive research and practical implementation, this system is meticulously crafted to offer intuitive protection 
                without compromising on usability. Whether you're a burgeoning startup or a multinational enterprise, trust Orbital Armor to shield
                your network with precision and reliability. Join me as I pave the way for a safer digital future, one fortified by the
                impenetrable shield of Orbital Armor.
            </p>
            <span></span>
            <p>
                The project is divided into : evalutaing ddos attacks from uploaded data set in a csv file or pcap file and evaluation of real-time 
                analysis of network traffic.For uploaded file each user is able to upload file of the stated file types above and using machine learnig
                models the system will evaluate and add a label to the file and save the data of the file to the data base for results and graphical representation 
                of the data.For real-time data traffic analysis, the user needs to give access to the system to the users internet interface card for the 
                system to collect, analys and make predictions in real-time. The user can the see results of data in realtime and get suggestion on possible 
                ways he/she can mitigate this attacks.
            </p>
        </div>
        <div class="img">
            <img src="{% static 'css/images/C4NdKtRaQE9m8.gif' %}" alt="image of hacking" width="500px" height="500px">
        </div>
    </div>
    <footer>
        <div class="footer">
            
        </div>

    </footer>
    
{% endblock content %}

