{% extends "registration.html" %}
{% load static %}

{% block links %}
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
{% endblock links %}

{% block main %}
    <div class="contatiner">
        <div class="formData">
            <div class="error">
                {{ form.errors }}
            </div>
            <form method="post">
                {% csrf_token %}
                <label for="username">
                    USERNAME :  <input name="username" type="text">
                </label>
                <label for="password">
                    PASSWORD :  <input name="password" type="password">
                </label>
                <a href="">I forgot my password???</a>
                <div class="buttons">
                    <button class="btn" type="button">
                        <a href="/register/">SIGN UP</a>
                    </button>
                    <button class='btn' type="submit">SIGN IN</button>
                </div>
            </form>
        </div>
    </div>
{% endblock main %}