{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/registration.css' %}">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <div class="content">
            <div class="form">
                <form method="POST">
                    {% csrf_token %}
                    <ul><li> {{ form.error }}</li></ul>
                    <label for="username">
                        Username:{{ form.username}}</label>
                    <label for="first_name">
                        First Name:{{ form.first_name }}</label>
                    <label for="email">
                        Email Address:{{ form.email }}</label>
                    <label for="phone_number">
                        Phone Number:{{ form.phone_number }}</label>
                    <label for="password">
                        Password:{{ form.password }}</label>
                    <label for="password_confirm">
                        Password Confirmation: <input type="password"> </label>
                    <button type="submit">sign up</button>
                </form>
            </div>
        </div>
    </div>
</body>
</html>