*{
    padding: 0px;
    margin: 0px;

}

.navBar{
    display: flex;
}
ul li{
    list-style: none;
}

ul li a{
    list-style: none;
    text-decoration: none;
    color:black;
    background-color: whitesmoke;
    text-transform: uppercase;
    border: 2px solid red;
}

ul li a:hover{
    background-color: red;
    color: whitesmoke;
    border: 2px dashed whitesmoke;
}

